@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&family=Oswald:wght@200..700&display=swap');

html, body, [class*="css"] {
    font-family: 'Oswald', sans-serif;
    color: #a7a7a7;
}

/* App Settings */
.stApp {
    margin: auto;
    overflow: auto;
    font-family: 'Oswald', sans-serif;
    background-color: black;
    background-image:
      linear-gradient(to right, rgba(24, 23, 23, 1) 5px, transparent 1px),
      linear-gradient(to bottom, rgba(24, 23, 23, 1) 5px, transparent 1px);
    background-size: 60px 60px;
    background-repeat: repeat;
}

/* Main Title */
.title h1{
  color: rgba(30, 215, 96, 1);
  font-size: 5em;
  font-weight: bolder;
  text-align: center;
  font-family: 'Oswald';
}

/* Username Container */
.st-key-username {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Username Input Box*/
div[data-testid="stTextInputRootElement"]{
  border-radius: 5px;
  width: 300px;
  height: 80px;
  align-content: center;
}

/* Username Input Field */
.stTextInput input {
  font-family: 'Oswald';
  font-size: 2.5em;
  text-align: center;
  background-color: rgba(30, 215, 96, 1);
  color: #000000;
}

/* Selector Container */
.st-key-selector {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Selector List*/
div[data-baseweb="select"] > div {
  background-color: rgba(76, 2, 232, 1);
  color: white;
  font-family: 'Oswald';
  font-size: 1.5em;
  border: none;
  border-radius: 30px;
  width: 200px;
  height: 50px;
}

/* Container */
.st-key-container{
  padding: 2em;
  background-color: rgba(60, 255, 208, 1);
  border-radius: 3em;
}

/* Top Songs Container */
.st-key-top_songs {
  padding-top: 0.5em;
  padding-bottom: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background-color: rgba(214, 243, 31, 1);
  border-radius: 1em;
  color: #000000;
  font-size: 2em;
  line-height: 1;

}

/* Top Songs Subheader */
.st-key-top_songs h3{
  color: #000000;
  font-size: 2em;
}

/* Top Songs Circle Rank */
.song-rank-circle {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background-color: #000000;
  color: rgba(214, 243, 31, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Gasoek One';
  font-size: 1em;
  flex-shrink: 0;
  margin-bottom: 0.5em;
}

/* Top Artists Container*/
.st-key-top_artists {
  padding-top: 0.5em;
  padding-bottom: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background-color: rgba(255, 60, 155, 1);
  border-radius: 1em;
  color: #000000;
  font-size: 2em;
  line-height: 1;
}

/* Top Artists Subheader */
.st-key-top_artists h3{
  color: #000000;
  font-size: 2em;
}

/* Top Artists Circle Rank */
.artist-rank-circle {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background-color: #000000;
  color: rgba(255, 60, 155, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Gasoek One';
  font-size: 1em;
  flex-shrink: 0;
  margin-bottom: 0.5em;
}

/* Top Albums */
.st-key-top_albums {
  padding-top: 0.5em;
  padding-bottom: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: #000000;
}

/* Top Albums Subheader */
.st-key-top_albums h3{
  color: #000000;
  font-size: 2em;
  padding-left: 0.3em;
}

/* Album Containers */
[class^="album_"] {
  height: 60px;
}

/* Album Rank and Name */
[class^="album_rank"] {
  padding-top: 0.5em;
  padding-left: 0.5em;
  line-height: 1;
  font-size: 0.75em;
}

/* Top Tags */
.st-key-top_tags {
  padding-top: 0.5em;
  padding-bottom: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background-color: rgba(26, 27, 30, 1);
  border-radius: 2em;
  color: #ffffff;
}

/* Top Tags Subheader */
.st-key-top_tags h3{
  color: #ffffff;
  font-size: 2em;
  padding-left: 0.3em;
}

/* Github Link */
.link p{
  text-align: center;
  font-family: 'Oswald';
  font-size: 1.5em;
}

.link a{
  color: rgba(30, 215, 96, 1);
  text-decoration: none;
}

.link a:hover {
  text-decoration: underline;
  opacity: 0.8;
}

/* Note */
.note h3{
  color: rgba(30, 215, 96, 1);
  font-size: 1.5em;
  font-weight: lighter;
  text-align: center;
  font-family: 'Oswald';
}

.note a{
  color: rgba(30, 215, 96, 1);
  text-decoration: underline;
}

.note a:hover {
  opacity: 0.8;
  font-weight: bold;
}